@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto+Mono:ital,wght@1,300&display=swap');

body{
    font-family: 'Aboreto', cursive;
    font-family: 'Roboto Mono', monospace;
    background-color: #00425A;
}

.titulo{
    color: blanchedalmond;
    font-size: 50px;
    
}

#seleccionMasc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo{
    color: blanchedalmond;
    font-size: 30px;
}

.tarjeta, .botones-de-atakes{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokemon{
    width: 200px;
    height: 120px;
    background: #1F8A70;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 10px solid hotpink;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    transition: background-color .5s;
}

.tarjeta-de-mokemon:hover{
    background-color: #BFDB38;
}

input:checked + label {
    background-color: gold;
}

.tarjeta-de-mokemon img{
    width: 50px;
}

#bot-selec{
    width: 180px;
    height: 40px;
    border-radius: 14px;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    transition: background-color .5s;
    background-color: #1F8A70;
}

#bot-selec:hover{
    background-color: gold;
}



#seleccionAtak{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BDeAtak{
    width: 180px;
    height: 40px;
    border-radius: 14px;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    transition: background-color .5s;
    background-color: #1F8A70;
}

.BDeAtak:hover{
    background-color: gold;
}

#mensajes{
    width: 200px;
    height: 100px;
    margin: 5px;
    background: #1F8A70;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bot-reiniciar{
    border-radius: 14px;
    font-family: 'Roboto Mono', monospace;
    border: none;
    
}

.atake{
    display: grid;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 100px;
    margin: 30px;
    text-align: center;
}

.atake-Jugador, .atake-Enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}


@media(max-width: 450px){
    .tarjeta, .botones-de-atakes{
        flex-direction: column;
    }


    .atake{
        grid-gap: 0px;
    }
}